@font-face {
	font-family: 'NautilusPompilius';
	src: local('NautilusPompilius'), local('Nautilus-Pompilius'),
		url('nautiluspompilius.woff2') format('woff2'),
		url('nautiluspompilius.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}